.projectTwoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: rgb(13, 28, 48);
  background: hsla(204, 49%, 40%, 0.651);
  border-radius: 2em;
  text-align: center;
  margin-bottom: 2em;
}

.projectTwoTitle {
  font-size: 5em;
  text-align: center;
  color: hsla(204, 31%, 42%, 0.993);
  font-family: "Barlow", sans-serif;
  background: hsla(214, 31%, 16%, 0.726);
  padding: 0.25em;
  border-radius: 0.25em;
}

.projectTwoImage_two {
  z-index: 1;
  width: 70%;
}

.projectTwoImage {
  margin-top: -55%;
  z-index: 2;
  margin-left: 60%;
  width: 30%;
}

.projectTwoDesc {
  color: white;
  word-break: normal;
  padding: 2em;
  font-size: 2em;
  font-family: "Barlow", sans-serif;
}

@media only screen and (max-width: 600px) {
  .projectTwoImage {
    margin-top: -8em;
    margin-left: 70%;
    height: 7.75em;
    width: 4.75em;
  }

  .projectTwoTitle {
    font-size: 3em;
  }

  .projectTwoDesc {
    word-break: keep-all;
    font-size: 1.45em;
    padding: 0.45em;
  }
}
