
.nameHeader{
  font-family: 'Arizonia', cursive;
}

body {
  background-image: url("./blob-scene-haikei.svg");
  aspect-ratio: 960/540;
  background-repeat: no-repeat;
  background-size: cover;
}





